.error {
	opacity: 0;
	color: rgb(255, 0, 0);
}

.row {
	margin: 15px;
}

small {
	color: rgb(255, 0, 0);
}

textarea {
	resize: none;
}

.button-enviar {
	border: solid 2px #9c004e;
	background-color: #fff;
	border-radius: 10px;
	color: #9c004e;
}

.button-enviar:hover {
	background-color: #9c004e;
	color: #fff;
}
