.error {
	opacity: 0;
	color: rgb(255, 0, 0);
}

.row {
	margin: 15px;
}

small {
	color: rgb(255, 0, 0);
}

textarea {
	resize: none;
}

.button-enviar {
	border: solid 2px #9c004e;
	background-color: #fff;
	border-radius: 10px;
	color: #9c004e;
}

.button-enviar:hover {
	background-color: #9c004e;
	color: #fff;
}

.icon-success {
	width: 10rem;
	height: 10rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

.target {
	text-align: center;
	border: #9c004e 3px solid;
	width: auto;
	height: 100%;
	padding: 0;
}

.tittle-success {
	margin: 20px;
}

.contenedor {
	margin-top: 5%;
}
